@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    /* colors  */
    --lbrown:hsl(30, 17%, 28%);
    --vlbrown: hsl(13, 17%, 49%);
    --pink: hsl(13, 50%, 75%);
    --lblue: hsl(180, 37%, 29%);
    --sienna: hsl(22, 58%, 41%);
    --negroni: hsl(31, 70%, 73%);
    --white:  hsl(36, 100%, 95%);
    --spink:hsl(333, 23%, 66%);
    --lpink:hsl(333, 100%, 89%);
    --dblue:hsl(205, 69%, 13%);
    --lsblue:hsl(190, 100%, 38%);
    --blue:hsl(197, 98%, 32%);
    --black: hsl(0, 0%, 0%);

    --ff-dancing:'Dancing Script', cursive;
    --ff-roboto:'Roboto', sans-serif;
    --ff-mont:"Montserrat", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
/* html{
    scroll-behavior: smooth;
} */
body{
    width: 100%; 
}
#toggler {
    display: none;
}

header .check {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid black;
    display: none;
}







header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: var(--black);
    padding: 0 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .9rem 4.5rem var(--white);
    z-index: 1000;
    height: 90px;
    font-family: var(--ff-dancing);
}
.logo{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    text-decoration: none;
}
.logo strong{
    color:hsl(13, 50%, 75%); 
    font-size:70px;
    margin-bottom: 15px;
}
header .navigations a{
    padding: 2rem; 
    color: var(--white);
    font-size: 20px;
    
}

header .navigations a:hover{
    color: var(--spink);
    cursor: pointer;
    /* transform: rotate(360deg); */
}

/* #home img{
    position: relative;
    background-repeat: no-repeat;
    background:center center fixed;
    width: 100%;
    margin: 0;
    
} */
#home{
    background-image:url( ./images/laptop2.jpg);
    margin-bottom: 3px;
    height: 87vh;
}
#home #hm{
    position:absolute;
    top: 40%;
    margin: 0 17%;
    color: var(--white);
    font-family: var(--ff-dancing);
    /* position: fixed; */
}
#home #hm h1{
    font-weight: 300;
    font-size: 30px;
    
}
#home span{
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 0;
}
#home p{
    font-weight: 300;
    font-size: 9px;
    margin-bottom: 20%;
    letter-spacing: 5px;
    font-family: var(--ff-mont);
}
button {
    background-color: hsla(37, 100%, 95%, 0);
    padding: 3.5% 17%;
    border: .1rem solid var(--white);
    border-radius: 14px;
    color: var(--white);
    font-family: var(--ff-mont);
    cursor: pointer;
    display:flex; 
    gap:10px
}
button {
    opacity:1;
}
#about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    margin: 0px;
}
.paragraph{
    color: var(--white);
    margin: 5% 6% 7%;
    font-family: var(--ff-dancing);
}
.paragraph h3{
    margin: 4% 3% 25%;
    text-align: center;
    font-family: var(--ff-mont);
    color: var(--pink);
    font-size: 55px;
}
#para-ab{
    display:flex;
    flex-direction: column;
}

#para-ab span{
    font-size: 48px;
    color: var(--spink); 
    text-align: center;
}
#para-ab p{
    font-size: 19px;
}
.image{
    width: 50%;
    background-color: var(--black);
    position: relative; 
    /* box-shadow: 0 10px 30px 100px rgb(11, 11, 11) inset; */
}
.image img{
    width: 90%;
    margin-left: 10%;
}
#skills{
    background-color: var(--black);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 70px;
    padding: 15%;
    margin-top: .2%;
    color: var(--white);
}
#skills h3{
    color: var(--pink);
    font-size: 55px;
    font-family: var(--ff-mont);
    padding-bottom: 20px;
}
.arrow{
    display: flex;
    gap: 20px;
    color: var(--spink);
    font-size: 20px;
    letter-spacing: 10px;
}
#skills p{
    font-size: 28px;
    font-family: var(--ff-dancing);
}
.list{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    font-size: 12px;

}
.list li{
    background-color: var(--lsblue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 15px;
    width: 70px;
    height: 70px;
    font-size: 1.3em;
}

#contact {
    background-image: url(./images/contact2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* color: aliceblue; */
    margin: 3px 0 0;
    width: 100%;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10%;
    gap: 100px;
    
}
.contact h3{
    color: var(--pink);
    font-size: 50px;
    font-family: var(--ff-mont);
    padding-bottom: 5%;
}
.ctc{
    font-size: 1.2rem;
    position: relative;
    width: 450px;
    backdrop-filter: blur(25px);
    border: 4px solid var(--white);
    border-radius: 15px;
    padding: 4em 2.5em ;
    background-color: hsl(180, 3%, 14%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.ctc .some{
    font-size: 1.1rem;
    border: 0.2rem solid hsla(12, 21%, 91%, 0.573);
    border-radius: 20em;
    background-color: hsla(13, 17%, 49%, 0.051);
    padding: 1em;
    color: var(--spink);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}
.ctc a{
    color: var(--pink);
    animation: border 1.5s  infinite normal;
}
.ctc a:hover{
    color: var(--spink);
}
h3{
    animation: FadeIn 4s infinite;
    /* animation-iteration-count: 4; */
}
@keyframes FadeIn {
    0% { opacity: 0; }
    25% { opacity: 3;}
    50% {opacity: 5;}
    100% { opacity: 0;}
}
@keyframes border{
    0% {color: var(--negroni);}
    50% {color: var(--pink);}
    75% {color: var(--vlbrown);}
    100% {color: var(--lbrown);}
}

@media(max-width:768px){
    body{
        font-size: 15px;
    }
    header .navigations a{
        display: block;
        gap: 5px;
        /* visibility: hidden; */
        /* background-color: var(--pink); */
    }
    section{
        margin: 0;
        width: 100%;
    }
    section .about{
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .container {
      grid-template-columns: repeat(3, 1fr)
    }
}
/* @media(max-width:320px) {

    html {
        font-size: 55%;
        scroll-behavior: smooth;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

    .home {
        background-position: center;
    }
}
@media(max-width:768px) {

    header .fa-bars {
        display: block;
    }

    header .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: pink;
        border-top: .1rem solid black;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }


    header #toggler:checked~.navigation {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navigation a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid black;
        display: block;
    }
    section .home{
        background-size: contain;
    }

} */